.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Dark overlay for better text visibility
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;

    h1 {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 2.5rem;

      .changing-word {
        color: #b3d4c6; // Color for the changing word
        animation: bounceIn 3.5s ease-in-out infinite;
      }
    }
  }
}

@keyframes bounceIn {
  0%, 10% {
    opacity: 0;
    transform: translateY(-30px); // Start above
  }
  30%, 50% {
    opacity: 1;
    transform: translateY(0); // Bounce in
  }
  80%, 100% {
    opacity: 1;
    transform: translateY(0); // Settle in place
  }
}
