// home-banner.component.scss

.s_banner {
  .container-fluid {
    .row {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(20, 1fr);

      .o_grid_item {
        &.col-lg-10 {
          grid-area: 8 / 2 / 14 / 12;
          z-index: 3;
          h1 {
            text-align: center;
          }
        }
        &.col-lg-5 {
          grid-area: 1 / 1 / 16 / 6;
          z-index: 2;
        }
        &.col-lg-4 {
          grid-area: 8 / 9 / 21 / 13;
          z-index: 2;
        }
      }
    }
  }
}

.s_text_block {
  padding-top: 112px;
  padding-bottom: 40px;
  .container {
    .row {
      .col-lg-10 {
        &.offset-lg-2 {
          margin-left: 16.6667%;
        }
      }
      .col-lg-4 {
        &.offset-lg-2 {
          margin-left: 16.6667%;
        }
        &.offset-lg-1 {
          margin-left: 8.3333%;
        }
      }
    }
  }
}

.s_striped {
  position: relative;
  padding-top: 56px;
  padding-bottom: 0;
  .o_we_shape {
    background-position: 50% 100%;
  }
  .container {
    .row {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(14, 1fr);
      .col-lg-8 {
        grid-area: 3 / 1 / 15 / 9;
      }
    }
  }
}