.homeServices {
  padding: 0;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/subheaderBackground.png');

  .services-heading {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 2rem;
    box-sizing: border-box;

    h2 {
      margin: 0;
      font-size: 2.5rem;
      text-align: left;
    }
  }

  .content-layer {
    background-color: #f9f9f9;
    padding: 5rem 0;
    min-height: 100vh;

    .estimation-section {
      display: flex;
      justify-content: center;
      align-items: stretch;
      margin-bottom: 2rem;
      width: 60%; 
      margin: 0 auto;
      background-color: #fff;
      height: calc(100% + 4rem);

      .package {
        position: relative;
        flex: 1.5;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #ddd;
        padding: 1rem;
        border-radius: 0.5rem 0 0 0.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../assets/homeCleaningBackground.png');

        .package-content {
          z-index: 2;
          padding: 2rem;
          text-align: left;
          color: #fff;

          .cleaning-price {
            font-size: 1.5rem;
            font-weight: 600;
            position: absolute;
            top: 2rem;
          }

          .cleaning-cost {
            font-size: 3.5rem;
            font-weight: 900;
            margin-bottom: 1rem;
          }

          .hourly-rate {
            font-size: 3.5rem;
            font-weight: 900;
            margin: 1rem 0;
          }

          .rate-after-tax {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
          }

          .divider {
            margin: 2rem 0;
            border: none;
            border-top: 1px solid #fff;
          }

          .scroll-button {
            display: inline-block;
            padding: 0.5rem 2rem;
            border: none;
            border-radius: 5px;
            background-color: #354d40;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #aad2ba;
            }
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); 
          border-radius: inherit; 
          z-index: 1; 
        }

        p {
          position: relative;
          z-index: 2;
          font-size: 1.5rem;
          font-weight: 800;
          color: #fff;
        }

        .package-item {
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left;
        }

        .package-note {
          position: relative;
          top: 3rem;

          p{
            font-size: 0.875rem; 
            color: #ececec; 
          }
        }

        .scroll-button {
          padding: 0.5rem 2rem;
          border: none;
          border-radius: 5px;
          background-color: #354d40;
          color: #fff;
          cursor: pointer;

          &:hover {
            background-color: #aad2ba;
          }
        }
      }

      .estimation-form {
        flex: 1;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0 1rem 1rem 0;
        padding: 4rem;

        h3{
          font-size: 2.5rem;
          font-weight: 900;
        }

        .form-group {
          margin-bottom: 1rem;

          select {
            width: 100%;
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid #ddd;
            font-weight: 500;
          }
        }

        button {
          padding: 0.5rem 2rem;
          border: none;
          border-radius: 5px;
          background-color: #354d40;
          color: #fff;
          cursor: pointer;

          &:hover {
            background-color: #aad2ba;
          }
        }

        .estimated-time {
          margin-top: 1rem;
          font-weight: bold;

          .note {
            font-weight: lighter;
            font-size: 0.8rem;
            font-style: italic;
            margin-top: 0.5rem; 
          }
        }
      }
    }

    .offer-section {
      text-align: center;
      margin: 5rem 0;

      .offer-caption {
        font-size: 3rem;
        margin-bottom: 1rem;
        font-weight: 900;
      }

      .packages {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;

        .package {
          border: 1px solid #ddd;
          padding: 2rem; 
          border-radius: 0.5rem;
          position: relative;
          width: 350px; 
          background-color: #f0f8ff;

          .offer-notification {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-left: 100px solid #e74c3c; 
            border-bottom: 100px solid transparent;
            color: #fff;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            transform-origin: left top;
            border-radius: 0.5rem 0 0 0;

            span {
              position: absolute;
              top: 1.5rem; 
              left: -5.75rem; 
              white-space: nowrap;
              transform: rotate(315deg); 
            }
          }

          h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }

          p {
            font-size: 1rem;
          }

          .offer-price {
            font-size: 1.8rem;
            font-weight: 900;
            color: #d32f2f;
          }

          .note {
            margin-top: 1rem;
            font-style: italic;
          }

          &.first-time {
            background-color: #f0f8ff;
          }
        }
      }
    }

    .interesting-fact-section {
      display: flex;
      background-color: #f5f5f5;
      padding: 0 2rem;
      margin-top: 2rem;
      border-radius: 0.5rem;
      text-align: left;

      .fact-content {
        flex: 1;
        padding-right: 1rem;

        .fact-caption {
          font-size: 3rem;
          font-weight: 900;
          margin-bottom: 1rem;
        }

        .fact-highlight {
          font-size: 1.2rem;
          font-weight: bold;
          color: #354d40;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.1rem;
          margin-bottom: 0.5rem;
        }

        ul {
          list-style-type: disc;
          padding-left: 2rem;

          li {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
          }
        }
      }

      .fact-image {
        flex: 1;
        padding-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          height: auto;
          border-radius: 0.5rem;
        }
      }
    }

    .order-form-section {
      text-align: center;
      padding: 2rem 0;
    
      .order-form {
        max-width: 20%;
        margin: 0 auto;
        padding: 2rem;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
        h2 {
          margin-bottom: 1rem;
          font-size: 2rem;
          text-align: center;
          color: #354d40;
        }
    
        .form-group {
          margin-bottom: 1.5rem;
    
          input {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ddd;
            border-radius: 0.25rem;
            font-size: 1rem;
            box-sizing: border-box;
          }
    
          &.half-width {
            display: flex;
            gap: 1rem;
    
            input {
              flex: 1;
            }
          }
        }
    
        button {
          display: block;
          width: 100%;
          padding: 0.75rem;
          background-color: #354d40;
          color: #fff;
          border: none;
          border-radius: 0.25rem;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.3s ease;
    
          &:hover {
            background-color: #aad2ba;
          }
        }
    
        .form-status {
          margin-top: 1rem;
          color: #354d40;
          font-size: 1rem;
        }
      }
    }    
  }

  @media (max-width: 1024px) {

    .package-note{
      margin-bottom: 2rem;
    }

    .content-layer {
      .estimation-section {
        flex-direction: column;

        .package,
        .estimation-form {
          flex: none;
          width: 100%;
          padding: 2rem;
          border-radius: 0;
        }
      }

      .offer-section {
        .packages {
          flex-direction: column;
          align-items: center;

          .package {
            margin: 1rem 0;
          }
        }
      }

      .order-form-section {
        .order-form {
          max-width: 40%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .interesting-fact-section {
      flex-direction: column;

      .fact-content {
        width: 70%;
        margin: 0 auto;
        text-align: center;

        .fact-caption {
          font-size: 2rem !important;
          font-weight: 600 !important;
        }

        .fact-highlight {
          font-size: 1rem !important;
        }

        p, ul, li {
          font-size: 0.9rem !important;
        }
      }

      .fact-image {
        display: none !important; 
      }
    }

    .order-form-section {
      .order-form {
        max-width: 60% !important;
      }
    }
  }

  @media (max-width: 480px) {
    .estimation-section{
      margin: 0 3rem !important;

      .package{
        .package-content{
          padding: 1rem !important;
          .cleaning-price {
            font-size: 0.9rem !important;
            font-weight: 300 !important;
          }

          .cleaning-cost {
            font-size: 2rem !important;
            font-weight: 600 !important;
          }

          .hourly-rate {
            font-size: 2rem !important;
            font-weight: 600 !important;
          }

          .rate-after-tax {
            font-size: 0.9rem !important;
            font-weight: 300 !important;
          }

          .divider {
            margin: 1rem 0 !important;
          }
        }
      }

      .estimation-form{
        h3{
          font-size: 2rem !important;
          font-weight: 600 !important;
        }
      }
    }

    .offer-section {
      .packages {
        .package.first-time {
          width: 75%; 
        }
      }
    }

    .order-form-section {
      .order-form {
        max-width: 70% !important;
      }
    }
  }
}
