.officeServices {
    padding: 0;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/subheaderBackground.png');
  
    .services-heading {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 2rem;
      box-sizing: border-box;
  
      h2 {
        margin: 0;
        font-size: 2.5rem;
        text-align: left;
      }
    }
  
    .content-layer {
      background-color: #f9f9f9;
      padding: 5rem 0;
      min-height: 100vh;
  
      .form-section {
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin-bottom: 2rem;
        margin: 0 auto;
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
        .form-content {
          flex: 1.2;
          padding: 2rem;
          text-align: center;
          align-content: center;
          justify-content: center;
          background-size: cover;
          background-position: center;
          background-image: url("../assets/officeCleaning.jpg");
          color: #fff;
          position: relative;
          border-radius: 0 1rem 1rem 0;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            border-radius: inherit; 
            z-index: 1; 
          }

          .package-content {
            z-index: 2;
            padding: 2rem;
            text-align: left;
            color: #fff;
            position: relative;
  
            .cleaning-price {
              font-size: 1.5rem;
              font-weight: 600;
              position: absolute;
              top: -1rem;
            }
  
            .cleaning-cost {
              font-size: 3.5rem;
              font-weight: 900;
              margin-bottom: 1rem;
            }
  
            .hourly-rate {
              font-size: 2rem;
              font-weight: 600;
              margin: 1rem 0;
            }
  
            .divider {
              margin: 2rem 0;
              border: none;
              border-top: 1px solid #fff;
            }
          }
        }
  
        .form {
          flex: 0.7;
          padding: 2rem;
          background-color: #fff;
          border-left: 1px solid #ddd;
          border-radius: 1rem 0 0 1rem ;
  
          .form-group {
            margin-bottom: 1.5rem;
  
            input,
            textarea {
              width: 100%;
              padding: 0.5rem;
              border: 1px solid #ddd;
              border-radius: 0.25rem;
              font-size: 1rem;
              box-sizing: border-box;
            }
  
            &.half-width {
              display: flex;
              gap: 1rem;
  
              input {
                flex: 1;
              }
            }
          }
  
          button {
            display: block;
            width: 100%;
            padding: 0.75rem;
            background-color: #354d40;
            color: #fff;
            border: none;
            border-radius: 0.25rem;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: #aad2ba;
              color: #112A46;
            }
          }
  
          .form-status {
            margin-top: 1rem;
            color: #354d40;
            font-size: 1rem;
          }
        }
      }
  
      .slogan-container {
        display: flex;
        padding: 2rem;
        border-radius: 0.5rem;
        text-align: left;
        margin: 8rem 0 2rem 0;
        border-radius: 0.5rem;
  
        .text {
          flex: 1;
          padding-left: 1rem;
          align-self: center;
  
          .slogan {
            font-size: 2.7rem;
            font-weight: 900;
            margin-bottom: 1rem;
            text-transform: uppercase;
          }
  
          .paragraph {
            font-size: 1.5rem;
          }
        }
  
        .image {
          flex: 1;
          padding-right: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
  
          img {
            max-width: 100%;
            height: auto;
            border-radius: 0.5rem;
          }
        }
      }
    }

    @media (max-width: 1024px) {
    
        .content-layer {
          .form-section {
            flex-direction: column;

            .form {
              flex: none;
              width: 100%;
              padding: 2rem;
              border-radius: 0.5rem 0.5rem 0 0;
            }

            .form-content {
              flex: none;
              width: 100%;
              border-radius: 0 0 0.5rem 0.5rem;
            }
          }
    
          .slogan-container {
            flex-direction: column;
    
            .text {
              width: 80%;
              margin: 0 auto;
              text-align: center;
    
              .paragraph {
                width: 100%;
              }
            }
    
            .image {
              display: none !important;
            }
          }
        }
      }


      @media (max-width: 480px) {
        .form-section {
          margin: 0 3rem !important;
    
          .form-content{
            .package-content{
              padding: 1rem !important;
    
              .cleaning-price {
                font-size: 0.9rem !important;
                font-weight: 300 !important;
              }
    
              .cleaning-cost {
                font-size: 2rem !important;
                font-weight: 600 !important;
              }
    
              .hourly-rate {
                font-size: 1.3rem !important;
                font-weight: 600 !important;
              }
    
              .divider {
                margin: 1rem 0 !important;
              }
            }
          }
        }
    
        .slogan-container {
          .text {
            width: 70%;
            margin: 0 auto;
            text-align: center;
    
            .slogan {
              font-size: 1.5rem !important;
              font-weight: 600 !important;
            }
    
            .paragraph {
              font-size: 1rem !important;
            }
          }
        }
    
      }
  }
  