@import 'header';
@import 'footer';
@import 'homepage';
@import 'services';
@import 'contact';
@import 'aboutus';
@import 'testimonials';
@import 'hero';
@import 'benefits';
@import 'faq';
@import 'order';
@import 'serviceInclude';

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  padding-top: 5rem;
}
